body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  color: $c__white--dark;
  font-size: 16px;
  background-color: $c__white--dark;
}
ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}
button{
  font-family: 'Inconsolata', monospace;
  background: transparent;
  border: none;
}
#canvasGame{
 display: block;
  
}
.container{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
#story, #control, #level, #pause, #gameOver, #gameEnd{
  display: none;
}
#canvasStart{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.title{
  position: relative;
  z-index: 1;
  font-size: $size__big;
  text-align: center;
  margin: 0 0 72px 0;
  &::selection{
    background-color: transparent;
  }
  &--gameOver{
    opacity: 0;
    animation: gameOver .6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  &--small{
    font-size: $size__mid;
    margin-top: 72px;
  }
}
.mainMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.button{
  position: relative;
 & button{
  color: $c__white--dark;
  font-size: 1em;
 }

}
.para{
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: center;
  bottom: 144px;
  &--pause{
    display: block;
    position: relative;
    text-align: center;
    bottom: 0;

  }
  &--gameOver{
    position: initial;
    margin-top: 20px;
    opacity: 0;
    animation: gameOver .6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: .6s;
  }

}
.nav{
  font-size: 1em;
  position: absolute;
  top: 18px;
  right: 36px;
  display: flex;
  justify-content: center;
  z-index: 1;

  &__el{
    margin-left: 36px;
    position: relative;
    & button{

      font-size: 1em;
      color: $c__white--dark;
      &:before{
        content: "";
        background: url("/assets/images/indicator.svg");
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;  
        left: - 20px;
        width: 10px;
        height: 10px;
        opacity: 0;
      }
      &:hover:before{
        opacity: 1;
        animation: navAnimation .6s linear infinite ;
      }
      &:hover{
        cursor: pointer;
      }

    }
    &--actif{
      & button{
        &:before{
          content: "";
          background: url("/assets/images/indicator.svg");
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;  
          left: - 20px;
          width: 10px;
          height: 10px;
          opacity: 1;
        }
      }
    }
  }
}
@keyframes navAnimation{
  0%{
    left: - 20px;
  }
  50%{
    left: - 15px;
  }
  100%{
    left: - 20px;
  }
}
.menu{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $c__black--light;
  &--pause{
    background-color: rgba($c__black--light,  .8);
    
  }
}
.control-touch{
  position: absolute;
  display: flex;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-between;

  &__el{
    width: 300px;
    text-align: center;
  }
  &__svg{
    margin: 0 auto;
    & svg{
      height: 100px;
    }
    // width: 200px;
  }
}
.level-list{
  width: 90%;
  margin: 0 auto;
  display: flex;
  &__el{
    width: 10%;
    border: 4px solid rgba($c__white--dark, 1.0);
    border-radius: 10px;
    padding: 10px;
    margin: 36px;
    & p{
      margin: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 10px 0;
    }
    &:hover{
      cursor: pointer;
    }
    & img{
      width: 100%;
    }
  }
}
.st0{fill:none;stroke:#F7F7F7;stroke-width:5;stroke-miterlimit:10;}
// <!-- .st1{fill:#F7F7F7;} -->
.st1{fill:#F7F7F7;stroke:#F7F7F7;stroke-miterlimit:10;}
.st2{font-family: 'Inconsolata', monospace;}
.st3{font-size:50px;}
@keyframes gameOver{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes gameOver2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}