body {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  color: $c__white--dark;
  font-size: 16px;
  background-color: $c__white--dark;
  line-height: 2;
  overflow: hidden;
}
ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}
button{
  font-family: 'Inconsolata', monospace;
  background: transparent;
  border: none;
}
#canvasGame{
 display: none;
  
}
.logo{
  position: absolute;
  right: 36px;
  top: 18px;
  width: 200px;
  height: 70px;
  background: url("../assets/images/logo.svg") no-repeat;
  background-size: contain;
  background-position:right;
  overflow: hidden;
  text-indent: -90000000px;
  z-index: 10000000;
}
.mobile{
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $c__black--light;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  & p{
    max-width: 80%;
  }
}
.container{
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}
#story, #control, #level, #pause, #gameOver, #gameEnd{
  display: none;
}
#canvasStart{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

}
.control{
  justify-content: center;
  height: 100%;
  background-color: rgba($c__black--light,  .8);
  position: relative;
  z-index: 100;
  flex-direction: column;
  align-items: center;
}
.level{
  align-items: center;
  flex-direction: column;
  background-color: rgba($c__black--light,  .8);
  position: relative;
  z-index: 100;
  height: 100%;
}
.title{
  position: relative;
  z-index: 1;
  font-family: 'Anton', sans-serif;
  font-size: $size__veryBig;
  text-align: center;
  margin: 0 0 144px 0;
  &--main{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateY(-50%) translateX(-50%);
  }
  &::selection{
    background-color: transparent;
  }
  &--mobile{
    margin: 0;
    font-size: $size__big;
  }
  &--gameOver{
    margin: 144px 0 0 0;
    opacity: 0;
    animation: gameOver .6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }
  &--small{
    font-size: $size__mid;
    margin-top: 72px;
    margin-bottom: 0;
  }
  &--control{
    font-size: $size__small;
    margin-bottom: 9px;
    margin-top: 0;
  }
}
.mainMenu{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
}
.button{
  position: relative;
  color: $c__white--dark;
  font-size: $size__small;
  border: 5px solid $c__white--dark;
  border-bottom: none;
  border-top: none;
  border-radius: 50px;
  animation: buttonAnim .6s cubic-bezier(0.45, 0, 0.55, 1) alternate infinite;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover{
      
    cursor: pointer;
  }
}
@keyframes buttonAnim{
  0%{
    padding: 20px 90px;
  }
  100%{
    padding: 20px 100px;
  }
}
.gameui{
  width: 45px;
  height: 22.5px;
  position: absolute;
  right: 100px;
  top: 35px;
  z-index: 1000;
  &-pause{
    background: url("../assets/images/touchePause.svg") no-repeat;
    &--paused{
      background: url("../assets/images/toucheStart.svg") no-repeat;
    }
  }
  &-mute{
    top: 75px;
    background: url("../assets/images/speakerOn.svg") no-repeat;
    &--muted{
      background: url("../assets/images/speakerOff.svg") no-repeat;
    }
  }
}
.para{
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: center;
  bottom: 144px;
  &--pause{
    display: block;
    position: relative;
    text-align: center;
    bottom: 0;

  }
  &--gameOver{
    position: initial;
    margin-top: 20px;
    opacity: 0;
    animation: gameOver .6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    animation-delay: .6s;
  }

}
.nav{
  font-size: 1em;
  position: absolute;
  bottom: 36px;
  left: 36px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 10000;

  &__el{
    margin-bottom: 54px;
    position: relative;
    & button{

      font-size: $size__small;
      color: $c__white--dark;
      &:before{
        content: "";
        background: url("../assets/images/indicator.svg");
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;  
        left: - 20px;
        width: 10px;
        height: 10px;
        opacity: 0;
      }
      &:hover:before{
        opacity: 1;
        animation: navAnimation .6s linear infinite ;
      }
      &:hover{
        cursor: pointer;
      }

    }
    &--actif{
      & button{
        &:before{
          content: "";
          background: url("../assets/images/indicator.svg");
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto 0;  
          left: - 20px;
          width: 10px;
          height: 10px;
          opacity: 1;
        }
      }
    }
  }
}
@keyframes navAnimation{
  0%{
    left: - 20px;
  }
  50%{
    left: - 15px;
  }
  100%{
    left: - 20px;
  }
}
.menu{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $c__black--light;

  &--pause{
    background-color: rgba($c__black--light,  .8);
    
  }
  &--gameOver, &--gameEnd{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.control-touch{

  display: flex;
  width: 50%;
  margin: auto 0;
  align-items: center;
  justify-content: space-between;

  &__el{
    width: 300px;
    text-align: center;
    height: 100%;
  }
  &__svg{
    margin: 0 auto;
    & svg{
      height: 100px;
    }
    // width: 200px;
  }
}
.level-list{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__el{
    margin-bottom: 18px;
    & button{
      font-size: $size__small;
      color: $c__white--dark;
      &:hover{
        cursor: pointer;
      }
    }


  }
}
.st0{fill:none;stroke:#F7F7F7;stroke-width:5;stroke-miterlimit:10;}
// <!-- .st1{fill:#F7F7F7;} -->
.st1{fill:#F7F7F7;stroke:#F7F7F7;stroke-miterlimit:10;}
.st2{font-family: 'Inconsolata', monospace;}
.st3{font-size:50px;}
@keyframes gameOver{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes gameOver2{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width : 768px){
  .mobile{
    display: flex;
  }
}