$c-bg: #efefef;
$c-alt: #e41612;
$c__white : #ffffff;
$c__white--dark : #f5f5f5;
$c__black : #000000;
$c__black--light : #0a0a0a;
$c__pink : #4F1342;
$size__small : 1.333em;
$size__mid : 2.3693em;
$size__big : 4.209em;
$size__veryBig : 5.610597em * 1.333;